@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

// Variables de Colores
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Variables de Tipografía
$font-body: 'Alata', sans-serif;
$font-heading: 'Josefin Sans', sans-serif;

.header {
    position: unset;
    max-width: 780px;
    width: 50%;
    margin-right:auto;
    margin-left: 18.2%;
    margin-top: 12%;
    

    &__content {
      color: $white;
      border: 2px solid $white;
      padding-right: auto;
      padding-left: 2%;


      h1 {
        font-size: 5.8rem;
        font-family: $font-heading;
        font-weight: 200;
        text-transform: uppercase;
        text-align:left;


        @media (max-width: 768px) {
          font-size: 2.8rem;
          padding-right: 1rem;
          padding-left: 1rem;
          
        }
      }
    }
}

// @media (min-width: 769px) {
//   .header {
//     height: 100vh;
//     width: 58%;
//     &__content {
//       position: unset;
//       padding-right: 1rem;
//       padding-left: 1rem;
//       margin-left: 30%;
//       margin-top: 15%;
//       text-align: left;
//       width: auto;
//     }
//   }
// }


// @media (max-width: 1024px) {
//   .header {


//     &__content {
//       margin-top: 5%;

//       h1 {
//         font-size: 2.5rem;
//       }
//     }
// }
// }
@media (max-width: 1366px ) {
  .header {
    width: 50%;
    margin-top: 6%;
    margin-left: 18.2%;
    

    &__content {
      padding-left: 2rem;

    h1 {
      font-size: 4.8rem; }
    }
  }
}


@media (max-width: 1280px ) {
  .header {
    width: 60%;
    margin-top: 10%;
    margin-left: 18.2%;
    &__content {
      padding-left: 2rem;
    h1 {
      font-size: 5rem; }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    width: 56%;
    margin-left: 10%;
    &__content {
      margin-left: 2.6%;
    h1 {
      font-size: 4rem; }
    }
  }
}


@media (max-width: 912px) {
  .header {
    width: 65%;
    margin-top: 15%;
    &__content {
    h1 {
      font-size: 3.6rem; }
    }
  }
}

@media (max-width: 710px) {
  .header {
    width: 70%;

    &__content {
      padding-left: 1.2rem;

      h1 {
        font-size: 2.8rem; }
    }
}
}

@media (max-width: 540px) {
  .header {
    width: 75%;
    margin-top: 25%;
}
}

@media (max-width: 480px) {
  .header {
    width: 80%;
    margin-top: 50%;

    &__content {
      padding-right: 0.8rem;

      h1 {
        font-size: 2.5rem;}
    }
}
}

@media (max-width: 412px) {
  .header {
    width: 80%;

    &__content {
      padding-right: 2rem;

      h1 {
        font-size: 2rem;}
    }
}
}