.logo {
  margin-top: 2%;
  margin-left: 18.2%;
  }


  @media (max-width: 1024px) {
    .logo{
      margin-left: 10%;
    }
  }
  @media (max-width: 431px) {
    .logo{
      margin-left: 1%;
    }
  }