.nav-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    position: relative;
  
    &:hover {
      color: #f3f3f3;
  
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: white;
        bottom: -2px;
        left: 0;
      }
    }
  }